/* src/assets/css/global.css */
@import "~bootstrap/dist/css/bootstrap.css";

 h1{
  color:rgb(70, 93, 196);
  font-family: 'Times New Roman', Times, serif;
              font-weight: bold;
 }
p{
  
}